<ion-header [translucent]="true" class="ion-no-border page-header">
  <ion-toolbar>
    <ion-buttons slot="start" color="light">
      <ion-back-button color="light" defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-toggle auto-hide="false" side="end">
        <ion-button>
          <ion-icon name="menu" color="light"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title class="ion-text-center header-title-align"
      >كشف الحسابات</ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content class="no-padding">
  <div class="container">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path
        fill="#1d4188"
        fill-opacity="1"
        d="M0,256L60,218.7C120,181,240,107,360,85.3C480,64,600,96,720,138.7C840,181,960,235,1080,261.3C1200,288,1320,288,1380,288L1440,288L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"
      ></path>
    </svg>
    <ion-grid class="content-grid">
      <ion-row style="margin-top: -30px">
        <ion-col>
          <ion-button id="open-modal">
            <ion-icon name="filter-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <app-virtual-scrolling-table
      [MAX_COUNT]="maxCount"
      (fetchMoreData)="onLoadMoreData()"
    ></app-virtual-scrolling-table>
  </div>
  <app-spinner *ngIf="loading"></app-spinner>
  <ion-modal
    #modal
    trigger="open-modal"
    [initialBreakpoint]="1"
    [breakpoints]="[0, 0.5, 0.75, 1]"
  >
    <ng-template>
      <ion-content class="no-padding">
        <form [formGroup]="filterForm" (ngSubmit)="applyFilters()">
          <div class="options-section">
            <h2>الحسابات</h2>
            <mat-form-field class="width">
              <input
                matInput
                placeholder="اسم الحساب"
                aria-label="اسم الحساب"
                [matAutocomplete]="auto"
                [formControl]="accountCtrl"
                required
                (click)="$any($event.target).select()"
              />
              <mat-error *ngIf="accountCtrl.invalid">
                اسم الحساب مطلوب
              </mat-error>
              <mat-autocomplete
                #auto="matAutocomplete"
                (optionSelected)="setOneAccountValueOption($event)"
              >
                <cdk-virtual-scroll-viewport itemSize="20" class="viewport">
                  <mat-option value="كافة الحسابات" >كافة الحسابات</mat-option>
                  <mat-option
                    class="vscr-item"
                    *cdkVirtualFor="let account of filteredAccounts"
                    [value]="account.accountName"
                  >
                    <span>{{ account.accountName }}</span>
                  </mat-option>
                </cdk-virtual-scroll-viewport>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <div class="options-section">
            <h2>العملات</h2>
            <app-select-chips
              [selectOptions]="currencyOptions"
              (selectedOption)="setCurrenyValueOption($event)"
            ></app-select-chips>
          </div>

          <div class="options-section">
            <h2>الفترة</h2>
            <app-select-chips
              [selectOptions]="dateOptions"
              (selectedOption)="setDateOption($event)"
            ></app-select-chips>
            <div class="date-container">
              <div *ngIf="time === 'خلال فترة'">
                <label for="start-date"><h3>من</h3></label>
                <div class="date-picker">
                  <input
                    type="date"
                    id="start-date"
                    name="trip-end"
                    formControlName="minTimeValue"
                  />
                  <ion-icon name="calendar" slot="icon-only"></ion-icon>
                </div>
              </div>
              <div>
                <label for="end-date"><h3>إلى</h3></label>
                <div class="date-picker">
                  <input
                    type="date"
                    id="end-date"
                    name="trip-end"
                    formControlName="maxTimeValue"
                  />
                  <ion-icon name="calendar" slot="icon-only"></ion-icon>
                </div>
              </div>
            </div>
          </div>
          <div class="options-section">
            <div class="report-options">
              <ion-toggle formControlName="isBeforeRelay"
                ><h2>قبل الترحيل</h2></ion-toggle
              ><br />
            </div>
          </div>
          <div class="options-section">
            <h2>مركز التكلفة</h2>
            <div class="form">
              <mat-form-field class="width">
                <input
                  matInput
                  placeholder="اسم المركز"
                  aria-label="اسم المركز"
                  [matAutocomplete]="costCenterAuto"
                  [formControl]="costCentersCtrl"
                  required
                  autoActiveFirstOption
                  autoActiveFirstOption
                  (click)="$any($event.target).select()"
                />
                <mat-error *ngIf="costCentersCtrl.invalid">
                  اسم المركز مطلوب
                </mat-error>
                <mat-autocomplete #costCenterAuto="matAutocomplete">
                  <mat-option [value]="'كافة المراكز'">
                    <span>كافة المراكز</span>
                  </mat-option>
                  <mat-option
                    *ngFor="let costCenter of filteredCostCenters | async"
                    [value]="costCenter.accountName"
                  >
                    <span>{{ costCenter.accountName }} </span>
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
          </div>
          <div class="submit-button-container">
            <ion-button
              color="primary"
              size="large"
              shape="round"
              type="submit"
              (click)="submit()"
              >تطبيق</ion-button
            >
          </div>
        </form>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
