<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-toggle auto-hide="false" side="end">
        <ion-button>
          <ion-icon name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title class="ion-text-center header-title-align"
      >صافى مشتريات</ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content class="no-padding">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path
      fill="#1d4188"
      fill-opacity="1"
      d="M0,256L60,218.7C120,181,240,107,360,85.3C480,64,600,96,720,138.7C840,181,960,235,1080,261.3C1200,288,1320,288,1380,288L1440,288L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"
    ></path>
  </svg>
  <ion-grid class="content-grid">
    <ion-row>
      <ion-radio-group
        [allowEmptySelection]="false"
        [(ngModel)]="itemType"
        (ionChange)="onTypeOfItemChange($event)"
      >
        <ion-radio value="كافة الاصناف" labelPlacement="end"
          ><h2>كافة الأصناف</h2></ion-radio
        >
        <ion-radio value="صنف واحد" labelPlacement="end"
          ><h2>صنف واحد</h2></ion-radio
        >
      </ion-radio-group>
    </ion-row>

    <ion-row>
      <ion-col size="12" *ngIf="itemType !== 'كافة الاصناف'">
        <div>
          <form class="form">
            <mat-form-field class="width">
              <input
                matInput
                placeholder="اسم الصنف"
                aria-label="اسم الصنف"
                [matAutocomplete]="auto"
                [formControl]="itemsNamesCtrl"
                required
              />
              <mat-autocomplete
                #auto="matAutocomplete"
                (optionSelected)="onItemSelected($event)"
              >
                <cdk-virtual-scroll-viewport itemSize="20" class="viewport">
                  <mat-option
                    class="vscr-item"
                    *cdkVirtualFor="let item of filterdItemsNames | async"
                    [value]="item.value"
                  >
                    <span>{{ item.value}}</span>
                  </mat-option>
                </cdk-virtual-scroll-viewport>
              </mat-autocomplete>
            </mat-form-field>
          </form>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button id="open-modal">
          <ion-icon name="filter-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div
    class="table-wrapper"
    [ngStyle]="{'height': itemType !== 'كافة الاصناف' ? 'calc(100vh - 392px)' : 'calc(100vh - 310px)'}"
  >
    <ion-grid class="table">
      <ion-row class="table-header">
        <ion-col *ngFor="let col of getColumnHeaders()">
          <span>{{col}}</span>
        </ion-col>
      </ion-row>
      <app-spinner *ngIf="loading"></app-spinner>
      <ion-row class="table-row" *ngFor="let report of buySummeryReport">
        <ion-col><span>{{report.clientName}}</span></ion-col>
        <ion-col><span>{{report.theDate}}</span></ion-col>
        <ion-col *ngIf="filterForm.get('typeOfReport')?.value === 'تفصيلي'">
          <span>{{report.recordNumber}}</span>
        </ion-col>
        <ion-col><span>{{report.theMethod}}</span></ion-col>
        <ion-col><span>{{report.currencyName}}</span></ion-col>
        <ion-col><span>{{report.totalBuy}}</span></ion-col>
        <ion-col><span>{{report.totalRedone}}</span></ion-col>
        <ion-col><span>{{report.totalNet}}</span></ion-col>
        <ion-col><span>{{report.totalMcNet}}</span></ion-col>
        <ion-col><span>{{report.totalNetTaxValue}}</span></ion-col>
      </ion-row>
      <ion-row class="table-row table-footer">
        <ion-col><span>الاجمالي</span></ion-col>
        <ion-col> </ion-col>
        <ion-col
          *ngIf="filterForm.get('typeOfReport')?.value === 'تفصيلي'"
        ></ion-col>
        <ion-col></ion-col>
        <ion-col></ion-col>
        <ion-col><span>{{ totalBuy }}</span></ion-col>
        <ion-col><span>{{ totalRedone }}</span></ion-col>
        <ion-col><span>{{ totalNet }}</span></ion-col>
        <ion-col><span>{{ totalMcNet }}</span></ion-col>
        <ion-col><span>{{ totalNetTaxValue }}</span></ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-modal
    #modal
    trigger="open-modal"
    [initialBreakpoint]="1"
    [breakpoints]="[0, 0.75, 1]"
  >
    <ng-template>
      <ion-content class="no-padding">
        <form [formGroup]="filterForm" (ngSubmit)="filterReport()">
          <div class="options-section">
            <h2>المورد</h2>
            <mat-form-field class="width">
              <input
                matInput
                placeholder="المورد"
                [formControl]="suppliersCtrl"
                name="supplierID"
                type="text"
                required
                [matAutocomplete]="suppliersAuto"
              />
              <mat-error *ngIf="suppliersCtrl.hasError('required')"
                >الرجاء ادخال المورد</mat-error
              >
              <mat-autocomplete #suppliersAuto="matAutocomplete">
                <mat-option value="كافة الموردين">كافة الموردين</mat-option>
                <mat-option
                  *ngFor="let supplier of filteredSuppliers | async"
                  [value]="supplier.value"
                >
                  <span>{{ supplier.value}}</span>
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <div class="options-section">
            <h2>مجموعة الصنف</h2>
            <mat-form-field class="width">
              <input
                matInput
                placeholder="مجموعة الصنف"
                name="category"
                type="text"
                [formControl]="categoriesCtrl"
                [matAutocomplete]="categoryAuto"
              />
              <mat-error *ngIf="categoriesCtrl.hasError('required')"
                >الرجاء ادخال الصنف</mat-error
              >
              <mat-autocomplete #categoryAuto="matAutocomplete">
                <mat-option value="كافة المجموعات">كافة المجموعات</mat-option>
                <mat-option
                  *ngFor="let category of filteredCategories | async"
                  [value]="category.value"
                >
                  <span>{{ category.value}}</span>
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <div class="options-section">
            <h2>طريقة الدفع</h2>
            <div class="form">
              <mat-form-field class="width">
                <input
                  matInput
                  placeholder="الدفع"
                  arial-label="الدفع"
                  [matAutocomplete]="paymentAuto"
                  [formControl]="paymentTypeCtrl"
                  required
                />
                <mat-error *ngIf="paymentTypeCtrl.hasError('required')"
                  >الرجاء ادخال طريقة الدفع</mat-error
                >
                <mat-autocomplete #paymentAuto="matAutocomplete">
                  <mat-option value="الكل">الكل</mat-option>
                  <mat-option
                    *ngFor="let method of filteredPaymentType | async"
                    [value]="method.name"
                  >
                    <span>{{ method.name}}</span>
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
          </div>
          <div class="options-section">
            <h2>نوع التقرير</h2>
            <div class="report-options">
              <ion-radio-group
                formControlName="typeOfReport"
                [allowEmptySelection]="false"
              >
                <ion-radio value="اجمالي">
                  <h3>اجمالي</h3>
                </ion-radio>
                <ion-radio value="تفصيلي">
                  <h3>تفصيلى</h3>
                </ion-radio>
              </ion-radio-group>
            </div>
          </div>
          <div class="options-section">
            <div class="report-options">
              <ion-toggle formControlName="isRedoneConnectedToBuy"
                ><h2>المرتجع مرتبط بالشراء</h2></ion-toggle
              ><br />
            </div>
          </div>
          <div class="options-section">
            <h2>الفترة</h2>
            <app-select-chips
              [selectOptions]="dateOptions"
              (selectedOption)="setDateOption($event)"
            ></app-select-chips>
            <div class="date-container">
              <div *ngIf="time === 'خلال فترة'">
                <label for="start-date"><h2>من</h2></label>
                <div class="date-picker">
                  <input
                    type="date"
                    id="start-date"
                    name="trip-end"
                    formControlName="minTimeValue"
                  />
                  <ion-icon name="calendar" slot="icon-only"></ion-icon>
                </div>
              </div>
              <div>
                <label for="end-date"><h2>إلى</h2></label>
                <div class="date-picker">
                  <input
                    type="date"
                    id="end-date"
                    name="trip-end"
                    formControlName="maxTimeValue"
                  />
                  <ion-icon name="calendar" slot="icon-only"></ion-icon>
                </div>
              </div>
            </div>
          </div>

          <div class="submit-button-container">
            <ion-button color="primary" size="large" shape="round" type="submit"
              >تطبيق</ion-button
            >
          </div>
        </form>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
