ion-header {
  height: 71px;
  background-color: #1d4188;
  --background: #1d4188;

  ion-toolbar {
    height: 100%;
    --background: #1d4188;
    color: #ffff;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  ion-title {
    font-weight: bold;
    font-size: 20px;
  }
}

ion-grid {
  ion-row:first-child {
    margin-bottom: 20px;
  }
}

ion-radio-group {
  display: flex;
  flex-direction: row;
  width: 100%;
  border: 1px solid #ccc;
  padding: 0px 10px;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 1px 0px 2px 1px rgba(47, 30, 145, 0.25);

  ion-radio::part(container) {
    border-radius: 5px;
    border: 2px solid #ddd;
  }
  ion-radio::part(mark) {
    border-radius: 5px;
  }
  ion-radio {
    font-weight: 400;
  }
}

.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  direction: rtl;
}

.width {
  width: 100%;
  margin-top: -5px;
}

.vscr-item {
  height: 20px;
}
.viewport {
  height: 140px;
}

.table-wrapper {
  direction: rtl;
  overflow-x: auto !important;
  overflow-y: auto !important;
  max-height: 600px;
  ion-grid {
    min-width: 1800px;
    table-header {
      text-align: center;
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
    }
    .table-header {
      background-color: rgb(83 114 191);
      position: sticky;
      top: 0;
      left: 0;
      right: 0;
      z-index: 9999;
      color: #fff;
      ion-col {
        h2 {
          font-weight: bold;
          text-align: center;
        }
      }
    }

    ion-row:not(.table-header) {
      border-bottom: 1px solid #ccc;
      ion-col {
        h2 {
          text-align: center;
        }
      }
    }
    ion-row:not(.table-header):nth-child(odd) {
      background-color: #e2e8ff;
    }
  }
}

.options-section {
  direction: rtl;
  padding: 15px;
  h2 {
    font-weight: 600;
  }
  app-select-chip {
    margin-top: 20px;
  }
}

.date-container {
  .date-picker {
    position: relative;
  }

  .date-picker input[type="date"] {
    background: white;
    outline: none;
    border-color: #ccc;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
  }

  .date-picker ion-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #ccc;
  }
}

ion-modal {
  --max-height: 100%;
  --border-radius: 15px;
}
.submit-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  ion-button[type="submit"] {
    min-width: 80%;
  }
}