ion-header {
  height: 71px;
  background-color: #1d4188;
  --background: #1d4188;

  ion-toolbar {
    height: 100%;
    --background: #1d4188;
    color: #ffff;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  ion-title {
    font-weight: bold;
    font-size: 20px;
  }
}

.item-field {
  margin: 0;
}


.width {
  width: 100%;
  margin-top: -5px;
}

.vscr-item {
  height: 20px;
}
.viewport {
  height: 140px;
}

ion-radio-group#type-of-report {
  display: flex;
  flex-direction: column;
  width: 100%;

  ion-radio::part(container) {
    border-radius: 5px;
    border: 2px solid #ddd;
  }
  ion-radio::part(mark) {
    border-radius: 5px;
  }
  ion-radio {
    font-weight: 400;
  }
  h3 {
    color: #888484;
    font-size: 20px;
    font-weight: 600;
  }
}


.date-container {
  .date-picker {
    position: relative;
  }

  .date-picker input[type="date"] {
    background: white;
    outline: none;
    border-color: #ccc;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
  }

  .date-picker ion-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #ccc;
  }
}

ion-modal {
  --max-height: 100%;
  --border-radius: 15px;
  ion-content {
    height: 100%;
  }
}
.submit-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  ion-button[type="submit"] {
    min-width: 80%;
  }
}