ion-header {
  // height: 140px;
  background-color: #ecf1f7;

  ion-toolbar {
    height: 100%;
    --background: var(--ion-color-primary);
    color: #ffff;
  }
  ion-title {
    font-weight: bold;
    font-size: 20px;
  }
}

ion-content {
  --background: #ecf1f7; 

  ion-grid {
    position: relative;
    margin-top: -40px;
    padding: 10px;
    z-index: 9999;
    left: 0;
    right: 0;
    width: 100%;
    ion-row {
      background: #ffff;
      margin-bottom: 20px;
      border-radius: 10px;
      ion-col {
        .card {
          display: flex;
          justify-content: space-between;
          align-items: center;
          direction: rtl;
          padding-left: 10px;
          .card-title {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 20px;
            direction: ltr;

            h2 {
              font-size: 20px;
              font-weight: bold;
            }

            img {
              width: 45px;
              height: 45px;
              border-radius: 50%;
              margin-right: 10px;
            }
          }
          ion-icon {
            font-size: 20px;
            color: #adbcce;
          }
        }
      }
    }
  }
}
:host(.in-toolbar:not(.ion-color):not(.in-toolbar-color)) ::ng-deep .button-native {
  color: white;
}

ion-footer {
  display: block;
  // position: relative;
  -ms-flex-order: 1;
  order: 1;
  width: 100%;
  z-index: 10;
  height: 100px;
  background: #ecf1f7;
  box-shadow: none;
  position: absolute;
  bottom: 0;
}


.button-group {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
  ion-button:first-child {
    margin-right: 10px;
  }
}

.cont-header {
  height: 100px;
  background-color: var(--ion-color-primary);
  position: relative;
}

.home-container{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.footer {
  position: relative;
  svg {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}