
<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-toggle auto-hide="false" side="end">
        <ion-button>
          <ion-icon name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title class="ion-text-center header-title-align"
      >الصفحة الرئيسية</ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content no-border>
  <ion-grid>
    <ion-row *ngFor="let page of pages" (click)="goToPage(page.url)">
      <ion-col>
        <div class="card">
          <div class="card-title">
            <h2>{{page.title}}</h2>
            <img [src]="page.icon" alt="" />
          </div>
          <ion-icon name="arrow-back-outline"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#1D4188" fill-opacity="1" d="M0,160L48,149.3C96,139,192,117,288,128C384,139,480,181,576,197.3C672,213,768,203,864,165.3C960,128,1056,64,1152,48C1248,32,1344,64,1392,80L1440,96L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>